
<div class="panel panel-primary">
  <div class="panel-heading">
    <%= yield(:title) %>
  </div>
  <div class="panel-body">
<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <% errors_count = @employee.errors.count %>
      <% if errors_count == 1 %>
        <h2>1 błąd nie pozwala na przetworzenie formólarza:</h2>
      <% else %>
        <h2><%= errors_count %> błedy nie pozwalają na przetworzenie formólarza:</h2>
      <% end %>
      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :hasło %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :zmiana %><br>
    <% @tablica = Shift.all.map { |shift| [shift.nazwa, shift.id]} %>
    <%= f.select :shift_id, options_for_select(@tablica, :id) %>
  </div>
  <div class="field">
    <%= f.label :status, 'Status:' %><br>
    <% @tablica = Status.all.map { |status| [status.nazwa, status.id]} %>
    <%= f.select :status_id, options_for_select(@tablica, :id) %>
  </div>
  <div class="field">
    <%= f.label :departament, 'Departament:' %><br />
    <% @tablica = Department.all.map { |department| [department.nazwa, department.id]} %>
    <%= f.select :department_id, options_for_select(@tablica, :id) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
  <div class="panel-footer"><%= link_to "Powrót do listy", employees_path %> | 
  <%= link_to "Panel administracyjny", administracja_path %></div>
</div>
