<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @employee.password %>
</p>

<p>
  <strong>Sgift:</strong>
  <%= @employee.sgift_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @employee.status_id %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
