
<div class="panel panel-primary">
  <div class="panel-heading">
    <%= yield(:title) %>
  </div>
  <div class="panel-body">
  <%= form_for(@status) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="input-group">
    <%= f.label :nazwa %><br>
    <%= f.text_field :nazwa, class: "form-control" %>
  </div>
  <div class="input-group">
    <%= f.label :uprawnienia %><br>
    <%= f.text_field :uprawnienia, class: "form-control" %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>  
</div>
  <div class="panel-footer"><%= link_to "Powrót do listy", statuses_path %> | 
  <%= link_to "Panel administracyjny", administracja_path %></div>
</div>