<p id="notice"><%= notice %></p>

<p>
  <strong>Departament:</strong>
  <%= @department.nazwa %>
</p>

<%= link_to 'Edytuj', edit_department_path(@department) %> |
<%= link_to 'Powrót do listy departamentów', departments_path %> | 
<%= link_to "Porót do administarcji", administracja_path %>