<%= form_for(@shift) do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <% errors_count = @shift.errors.count %>
      <% if errors_count == 1 %>
        <h2>1 błąd nie pozwala na przetworzenie formólarza:</h2>
      <% else %>
        <h2><%= errors_count %> błedy nie pozwalają na przetworzenie formólarza:</h2>
      <% end %>
      <ul>
      <% @shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
      <%= f.label :nazwa, "Nazwa zmiany:" %><br />
      <%= f.text_field :nazwa %><br />
  </div>
  <div class="action">
      <%= f.submit %>
  </div>

<% end %>