<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel administracyjny aplikacji - Lista zmian <span class="badge"><%= Shift.count %></span></div>
  <div class="panel-body"></div>
  <!-- Table -->
  <div>
  <table class="table">
        <tr>
            <th>Nazwa Zmiany  </th>
            <th>Liczba pracowników:</th>
            <th allign="center">  Akcja:</th>
        </tr>
        <% @shifts.each do |shift| %>
          <tr class=" <%= cycle('list_line_odd' , 'list_line_even' ) %>" >
              <td><%= link_to "#{shift.nazwa}", shift %></td>
              <td><%= shift.employees.count %></td>
              <td class="list_actions" > 
                  <%= link_to 'Edit' , edit_shift_path(shift) %> | 
                  <%= link_to 'Destroy' , shift,
                  :confirm => 'Jesteś pewien?' ,
                  :method => :delete %>
              </td>
          </tr>
        <% end %>
    </table>
    <div class="panel-footer"><%= link_to 'Nowa Zmiana' , new_shift_path %> |
<%= link_to "Porót do administarcji", administracja_path %></div>
</div>
