<div class="panel panel-primary">
  <div class="panel-heading">Zmiana:</div> 
  <div class="panel-body">
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
    <p>
      <strong>Nazwa:</strong>
      <%= @shift.nazwa %>
    </p>
  </div>
  <div class="panel-footer">
    <%= link_to 'Edytuj', edit_shift_path(@shift) %> | 
    <%= link_to 'Powrót do listy', shifts_path %> | 
    <%= link_to "Porót do administarcji", administracja_path %>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">Grafik:</div>
  <div class="row">
  <div class="col-md-4">
    <% if @shift.grafiks.size > 0 %>
      <% @miesiac = Time.now.month %>
      <% @tablica_dni = @shift.grafiks.first.dane.split %>
      <%= render '/shared/grafik' %>
      <hr /><%= link_to 'Edytuj kalendarz', kalendarz_edit_path(id: @shift.grafiks.first) %>
    <% else %>
      Brak danych w grafiku
      <%= link_to 'Utwórz grafik', new_shift_grafik_path(@shift) %>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if @shift.grafiks.size > 1 %>
      <% @miesiac = Time.now.months_since(1).month %>
      <% @tablica_dni = @shift.grafiks.second.dane.split %>
      <% @tablica_dni.shift %>
      <%= render "/shared/grafik" %>
      <hr /><%= link_to 'Edytuj kalendarz' , kalendarz_edit_path(id: @shift.grafiks.second)  %>
    <% else %>
      <%= link_to 'Utwórz grafik', new_shift_grafik_path(@shift) %>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if @shift.grafiks.size > 2 %>
      <% @miesiac = Time.now.months_since(2).month %>
      <% @tablica_dni = @shift.grafiks.third.dane.split %>
      <% @tablica_dni.shift %>
      <%= render "/shared/grafik" %>
      <hr /><%= link_to 'Edytuj kalendarz' , kalendarz_edit_path(id: @shift.grafiks.third)  %>
    <% else %>
      <%= link_to 'Utwórz grafik', new_shift_grafik_path(@shift) %>
    <% end %>
  </div>
</div>
<div class="panel-footer">...</div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Lista pracowników na zmianie <%= @shift.nazwa %></h3>
  </div>
  <div class="panel-body" id="list_product">
    <table class="admin_list table">
      <tr>
        <th>Email: </th>
        <th>Dział:</th>
        <th>Status:</th>
      </tr>
      <div id="product_list">
    <% @shift.employees.each do |employee| %>
      <tr class="<%= cycle('list_line_odd' , 'list_line_even' ) %>">
        <td><%= employee.email %></td>
        <td><%= employee.department.nazwa %></td>
        <td><%= employee.status.nazwa %></td>
      </tr>
    <% end %>
    </div>
    </table>
  </div>
  <div class="panel-footer"><span class="label label-success">Pracownikó:  </span><span class="badge"><%= @shift.employees.count %></span></div>
</div>